#topnav {
    height: 50px;
    width: 100%;
    color: white;
    font-weight: thin;
    background: #5a6268;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
#topnav .app-name, #topnav .home-link{
    font-size: 1rem;
    margin: 0;
}
#topnav .user-dropdown .btn{
    background: #5a6268;
    border: none;
}