#home{
    height: 100%;
    min-height: 481px;
    background-color: gray;
}
#home .menu-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home .menu-container .menu{
    /* position: fixed; */
    width: 600px;
    height: 500px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}
#home .menu-container .menu-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}
#home .menu-container .menu-buttons button{
    width: 100%;
}
#home .menu-container .menu-buttons h1{
    margin: 0;
}

/* //Resize menu container for when the window size gets smaller so that it doesn't overlap the top nav */

@media screen and (max-width: 768px) , screen and (max-height: 768px) {
    #home .menu-container .menu{
        width: 450px;
        height: 450px;
        padding: 3rem;
    }
    #home .menu-container .menu-buttons button{
        width: 100%;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 481px) , screen and (max-height: 481px) {
    #home .menu-container .menu{
        width: 300px;
        height: 400px;
    }
}