.sb-menu{
    height: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.sb-menu-container{
    border-radius: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sb-menu .sb-menu-container button.btn.btn-primary{
    background-color: #eee !important;
    color: black !important;
    border-color: #eee !important;
}

.sb-menu .sb-menu-container button.btn.btn-primary.selected,
.sb-menu .sb-menu-container button.btn.btn-primary.active,
.sb-menu .sb-menu-container button.btn.btn-primary:active,
.sb-menu .sb-menu-container button.btn.btn-primary.hover,
.sb-menu .sb-menu-container button.btn.btn-primary:hover,
.sb-menu .sb-menu-container button.btn.btn-primary.focus,
.sb-menu .sb-menu-container button.btn.btn-primary:focus{
    background-color: #ddd !important;
    color: black !important;
    border-color: #ddd !important;
    box-shadow: 0 0 0 .2rem #ddd !important;
}
.sb-menu .sb-menu-container .map-settings{
    margin-bottom: 1rem;
}
.sb-menu .sb-menu-container .itemType-btns,
.sb-menu .sb-menu-container .algorithm-settings,
.sb-menu .sb-menu-container .path-settings,
.sb-menu .sb-menu-container .map-settings{
    display: flex;
    justify-content: space-between;
    padding: .75rem 1rem;
}
.sb-menu .sb-menu-container .algorithm-settings{
    margin: 0;
}
.sb-menu .sb-menu-container .algorithm-settings select:first-child{
    margin-right: 1rem;
}
.sb-menu .sb-menu-container > button:last-child{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: .50rem 0;
}

.sb-menu .sb-menu-container .map-settings .disabled{
    pointer-events: none;
}

.sb-menu .sb-menu-container .mapname,
.sb-menu .sb-menu-container .editname{
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.modal-content button.btn.btn-primary{
    background-color: #eee !important;
    color: black !important;
    border-color: #eee !important;
}

.modal-content button.btn.btn-primary.active,
.modal-content button.btn.btn-primary:active,
.modal-content button.btn.btn-primary.hover,
.modal-content button.btn.btn-primary:hover,
.modal-content button.btn.btn-primary.focus,
.modal-content button.btn.btn-primary:focus{
    background-color: #ddd !important;
    color: black !important;
    border-color: #ddd !important;
    box-shadow: 0 0 0 .2rem #ddd !important;
}